<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- support for native iOS app-->
    <!--    tags for fake native app support on iOS-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="viewport-fit=cover, target-densitydpi=device-dpi, width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="apple-mobile-web-app-title" content="Battle">

<!--    From xbox cloud gaming, ios debug:-->
<!--    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, maximum-scale=2.0"/>-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<!--    <meta name="apple-mobile-web-app-capable" content="yes"/>-->

    <meta charset="utf-8">
    <title>Battle</title>
    <!--    https://stackoverflow.com/a/53795590-->
    <link rel="stylesheet" th:href="@{/style.css}">

    <!--    Jquery, to have access to ready function which tells us when we can access DOM safely.-->
    <script type="text/javascript" th:src="@{/jquery.min.js}"></script>

    <!--    Reference a little JS script file that has some handler logic, invoked on program startup-->
    <script src="registry.js"></script>

    <!--    also reference helper methods required for long polling-->
    <script src="asyncGet.js"></script>
    <!--    THIS ONE WE DO NOT WANT TO REFERENCE. IS FOR CALLS FROM SVG ONLY.-->
    <!--    <script src="svguiactions.js"></script>-->
    <script src="asyncuiactions.js"></script>
<!--    <script src="disablerubberband.js"></script>-->

    <script src="md5.js"></script>
</head>

<!--gradient as background, no scroll bars-->
<body onload="registerHandlersWhenSvgLoaded()" id="gradient" class="full-height">

<!--the actual board-->
<div id="spriteContainer">

    <!--    Reference the patched SVG here, "img" cannot be used, because we want to modify the svg DOM programmatically. This is why we use "object" instead.-->
    <!--    <img id="board" src='patchedVectorBoard.svg'/>-->
    <object id="board" type="image/svg+xml" data="patchedVectorBoard.svg"></object>

    <!-- Add a listener for async updates...-->
    <!--    Register any handler that fiddles around with the IDs contained in the PATCHED svg-->
    <!--possibly:-->
    <!--    https://stackoverflow.com/a/16648680-->
</div>

</body>
</html>
